body {
    background-image: linear-gradient(beige, lightsteelblue);
    font-family:"Cambria";
    text-align: center;
    margin: 25px;
}

h1 {
    color: darkslategrey;
}

h2 {
    color: #4682b4;
}